
header{
    height: 150px;
}

header .header-top{
    height: 50%;
}
header .header-bottom{
    height: 50%;
    background-color: #3AB1DD;
}
main{
    height: calc(100vh - 150px);
    background-color: #DDDDDD;
}

.sc-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    margin: 10px;
    border-radius: 30px;
    background-color: white;
    font-size: 1.5rem;

}

i{
    font-size: 3.5rem;
}